*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  flex-flow: column;

  align-content: center;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 1rem;
}

header {
  display: flex;
  flex-flow: row;
  height: 100px;
  padding: 1rem;
  justify-content: center;
  align-items: center;

  & nav {
    background: blue;
  }
}

.header__container {
  display: flex;
  justify-content: space-around;
}

.search {
  display: flex;
  align-items: center;
}

.logo {
  height: 5em;
  padding: 2em;
}

.terminal {
  flex-basis: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 70vh;
  padding: 5rem;
  border: 1px solid black;
}
.computer {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  justify-content: center;
  align-items: center;
  border: 1px solid pink;
  height: 30rem;
  max-width: 600px;
  margin: auto;
  position: relative;
  border: 30px solid transparent;
  border-image-source: url("../images/retroTv.png");
  border-image-slice: 30 fill;
  border-image-outset: 0;

  overflow: hidden;
}

@media only screen and (max-width: 780px) {
  .terminal {
    padding: 1rem;
    flex-direction: column-reverse;
  }
  .computer {
    height: 15rem;
    width: 250px;
    margin: 0;
  }
  body {
    font-size: 0.5rem;
  }
}

.computer__screen {
  z-index: -1;
  display: flex;
  justify-content: center;
  perspective: 300px;
  top: 0;
  left: 0;
  position: absolute;
  flex-direction: column;
  background-image: url("../images/3d-hyperspace-background-with-warp-tunnel-effect.jpg");
  background-position: center;
  background-clip: padding-box;
  width: 80%;
  height: 90%;
  overflow: hidden;
  align-items: center;

  color: #feda4a;

  font-size: 5.8rem;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;

  text-align: justify;

  ul {
    list-style: none;
  }
}

.fade {
  position: absolute;
  width: 100%;
  min-height: 25vh;
  top: 0;

  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 2;
}

.movieDetails {
  background-color: #feda4a9f;
  position: absolute;
  display: block;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  z-index: 120;
  left: 0;
  animation: slideMe 0.7s ease-in;
  flex: 1;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  line-height: 1.6;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  h2,
  h3 {
    text-align: center;
  }
}

@keyframes slideMe {
  0% {
    transform: skewX(53deg) translateX(-500px);
  }

  100% {
    transform: skew(0deg);
  }
}

.crawl {
  /* Position the element so we can adjust the top property in the animation */
  position: relative;
  /* Making sure the text is fully off the screen at the start and end of the animation */
  top: 9000px;
  /* Defines the skew origin at the very center when we apply transforms on the animation */
  transform-origin: 50% 100%;
  /* Adds the crawl animation, which plays for one minute */
  animation: crawl 60s linear;

  display: inline-block;
}

.episode {
  font-size: 90%;
  text-align: center;
}

.title {
  margin: 0 0 100px;
  text-transform: uppercase;
}

/* We're calling this animation "crawl" */
@keyframes crawl {
  0% {
    /* The element starts below the screen */
    top: 0;
    /* Rotate the text 20 degrees but keep it close to the viewer */
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
    top: -8000px;
    /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
}
